#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.general {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background: #F5F5F5;
}

.header {
  background: #061148;
  width: 100%;
  height: 3rem;
}

.main-view {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  width: 11%;
  height: 100%;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  align-items: center;
}

.side-button {
  width: 100%;
  padding: 1em;
  font-size: 1.3em;
  font-family: Inconsolata;
  color: black;
  background: #D9D9D9;
}

.editor {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: row; */
  color: black;
  align-items: left;
}

.event-form {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin: 3% 6% 3% 3%;
}

.event-form label {
  padding-right: 0.3em;
  min-width: 8em;
  text-align: left;
  font-size: 1.4em;
}

.event-form input {
  flex-grow: 1;
  height: 2.0em;
  font-size: 1em;
}

.event-form div {
  display: flex;
  flex-direction: row;
  padding-top: 0.7em;
}

.time-field label {
  align-items: right;
  padding-right: 0em;
  min-width: 4em;
}

.time-field input {
  max-width: 5em;
}

.time-field #time {
  vertical-align: center;
}

.date-field {
  flex-grow: 1;
}

.date-field input {
  max-width: 13em;
}

.date-time-field div {
  padding-top: 0em;
  display: flex; 
  flex-direction: row;
  align-items: center;
}

.tags-field textarea {
  min-height: 8em;
  flex-grow: 1;
}

.registration-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.registration-field div label {
  min-width: 1em;
  padding-left: 2em;
}

.description-field textarea {
  min-height: 15em;
  flex-grow: 1;
  text-align: start;
}

.fees-field {
  align-items: center;
}

.fees-field input {
  flex-grow: 0;
}

.button-field {
  display: flex;
  justify-content: right;
}

.submit-button {
  color: white;
  background-color: #061148;
}

.discard-button {
  color: white;
  background-color: #ADD8E6;
}

.error-message {
  color: red;
  padding-right: 0.5em;
}

.manage-panel {
  align-items: left;
  display: flex;
  flex-direction: column;
  min-height: 80%;
  max-height: 80%;
  background-color: #D9D9D9;
  margin: 3% 6% 3% 3%;
  overflow-y: scroll;
}

.entry {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 1% 5% 1% 5%;
  padding: 1em 0 1em 0;
  border-radius: 0.4em;
}

.entry-name {
  min-width: 30%;
  max-width: 10em;

  flex-grow: 1;
  overflow-wrap: normal; 
  text-align: left;
  padding-left: 0.5em;
}

.entry-datetime {
  display: flex;  
  width: 70%;
  flex-direction: row;
}

.entry-date {
  width: 50%;
  flex-grow: 1;
}

.entry-time {
  width: 30%;
  flex-grow: 1;
}

.icons {
  width: 20%;
  margin-inline: 2em;
}

.delete-icon {
  width: 50%;
}

.edit-icon {
  width: 50%;
}